@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
body {
}
.container {
  width: 100%;
  background: #fff;
  min-height: 100vh;
  padding-inline: 1em;
}

.contentSec {
  padding: 4em 0 2em;
}
.logo img {
  width: 100%;
  max-width: 15%;
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.title {
  font-size: 1.54em;
  font-weight: 500;
  color: #000;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
}
.loginWrapper {
  display: flex;
  justify-content: center;
  padding: 0em 0 0;
}
.loginSec {
  width: 100%;
  max-width: 400px;
  height: 100%;
  min-height: 326px;
  background: #fff;
  border-radius: 1em;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
form {
  padding: 0.76em;
  margin-top: 0;
}
.formInput {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 100%;
  max-width: 22rem;
  min-height: 50px;
  border: 1px solid #898787;
  border-radius: 7px;
  margin-bottom: 1.3em;
}
.formInput i {
  font-size: 1.2em;
  color: #898787;
  margin-right: 0.6em;
}
form input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  margin-left: 1em;
}

form input::placeholder {
  color: #b3b0b0;
}
button {
  width: 100%;
  height: 100%;
  min-height: 3.5rem;
  border-radius: 7px;
  outline: none;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  background: #411b69;
  color: #fff;
  margin-top: 1em;
}
